@import "../../../variables.scss";
button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid $text-color-pink;
  color: $text-color-pink;
}
button:hover {
  background-color: $text-color-pink;
  color: white;
  transition: 0.5s;
}
