@import "../../../variables.scss";
table {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: $primary-blue;
  border-radius: 15px;
  border: 3px solid $primary-blue;
}
td {
  background-color: white;
  border-radius: 5px;
}
